/* huvud delar*/

* {
  margin: 0;
  padding: 0;
}
nav {
  height: 40px;
  background-color: rgb(255, 0, 0);
  z-index: 100;
}
header {
  height: 100vh;
  background-image: url("bilder/landnings_bild.jpg");
  background-size: cover;
  background-position: center;
}
footer {
  height: 200px;
  background-color: rgb(165, 105, 105);
}

h1 {
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 150px;
}
p {
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 20px;
}

#search_container {
  display: flex;
  justify-content: center;
  margin: 15% auto 0 auto;
  background-color: white;
  height: 15%;
  width: 70%;
  border-radius: 10px;
}
#search {
  width: 250px;
  height: 20px;
  font-size: 18px;
  border-radius: 10px;
  padding: 15px 150px;
  margin: 25px;

  outline: none;
  border: none;

  cursor: pointer;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#search input {
  margin-left: 0px;
}
