/* huvud delar*/

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
nav {
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-bottom: 5px solid rgb(0, 0, 0);
  z-index: 100;
}
nav a {
  padding: 3px;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 3px 3px 3px gray;
}
nav a:hover {
  color: rgb(28, 28, 122);
  border-radius: 8px;
  box-shadow: 3px 3px 3px gray;
}
.menu {
  list-style: none;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px 0 10px 20px;
}
.menu-item {
  padding-right: 40px;
  overflow: hidden;
  border: 3px black;
}

header {
  height: 100vh;
  background-image: url("bilder/landnings_bild.jpg");
  background-size: cover;
  background-position: center;
}
footer {
  height: 200px;
  background-color: rgb(165, 105, 105);
}
#resultat {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 700px;
}
#resultat_rubrik {
  font-size: 30px;
  color: black;
  text-align: center;
  border-radius: 35px;
  align-content: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 150px;
}
p {
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 20px;
}

#search_container {
  display: flex;
  align-items: center;
  margin: 15% auto 0 auto;
  background-color: white;
  height: 15%;
  width: 70%;
  border-radius: 10px;
  overflow: hidden;
}
#search {
  width: 750px;
  height: 20px;
  font-size: 18px;
  border-radius: 10px;
  padding: 15px 0 15px 25px;
  margin: 25px;

  outline: none;
  border: none;

  cursor: pointer;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#search input {
  margin-left: 0px;
}
button {
  cursor: pointer;
  border-radius: 50px;
  height: 50px;
  margin-right: 10px;
  background-color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 255, 0.258);
}
