/* huvud delar*/
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/*navigation*/
nav {
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-bottom: 5px solid rgb(0, 0, 0);
  z-index: 100;
  position: sticky;
  top: 0;
}
nav a {
  padding: 3px;
  color: black;
  text-decoration: none;
  font-family: "Archivo Black", sans-serif;
}
nav a:hover {
  transition: all 0.3s ease;
  color: rgb(28, 28, 122);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.menu {
  list-style: none;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px 0 10px 20px;
}
.menu-item {
  padding-right: 40px;
  overflow: hidden;
  border: 3px black;
}
/*huvud sida*/
body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
}

header {
  height: 100vh;
  background-image: url("bilder/landnings_bild.jpg");
  background-size: cover;
  background-position: center;
}
h1 {
  font-family: "Archivo Black", sans-serif;
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 150px;
}
/*sökskärm*/
#search_container {
  display: flex;
  align-items: center;
  margin: 10% auto 0 auto;
  background-color: white;
  height: 15%;
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
}
#search {
  width: 90%;
  height: 20px;
  font-size: 18px;
  border-radius: 10px;
  padding: 15px 0 15px 25px;
  margin: 25px;

  outline: none;
  border: none;

  cursor: pointer;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#search input {
  margin-left: 0px;
}
button {
  cursor: pointer;
  border-radius: 50px;
  height: 50px;
  margin-right: 10px;
  background-color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 255, 0.258);
}
/*Resultat*/
main {
  display: flex;
  justify-content: center;
}
#resultat {
  display: block;
  justify-content: center;
  color: black;
  background: linear-gradient(to right, rgb(25, 158, 173), blue);
}
#resultat_rubrik {
  font-size: 25px;
  color: black;
  text-align: center;
  border-radius: 35px;
  align-content: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
#resultat_innehåll {
  justify-items: center;
  align-items: center;
}
/*Tabell*/
table {
  display: none;
  margin-top: 20px;
  width: 70%;
  height: 400px;
  font-size: 25px;
  border: 2px solid black;
  border-radius: 10px;
  border-collapse: separate;
  table-layout: fixed;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
}
td {
  text-align: center;
}
th,
td {
  border: 1px solid black;
}

p {
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 20px;
}
